.cart{
    width: 42px;
    height: 42px;
    border-radius: 13px;
    background-color: $color-white;
    box-shadow: 0px 2.419753074645996px 50.814815521240234px 0px #00000040;
    border: unset;
    &__circle{
        width: 21px;
        height: 21px;
        position:absolute ;
        top: 18px;
        left: 94%;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        background-color: $color-red;
        p{
            color: $color-white;
        }
    }
}